# Core
fastapi
uvicorn
pydantic
python-dotenv
sqlalchemy
python-multipart

# AI & Processing
opencv-python
numpy
rembg
easyocr
google-genai
groq
ollama
requests

# Extra for EasyOCR/rembg
torch
torchvision
onnxruntime
